body {
    margin: 0;
    
}


    .product-page {
        background-color: hsl(30, 38%, 92%);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 900px;
        justify-content: center;
        
    }
    
    .card {
        background-color: hsl(0, 0%, 100%);
        width: 700px;
        border-radius: 10px;
    }
    
    img {
        width: 360px;
        
    }
    
    #main-image {
        border-radius: 10px 0px 0px 10px;
        float: left; 
        display: none;
    }

    #mobile-main-image {
        border-radius: 10px 0px 0px 10px;
        display: none; 
        
    }
    
    .content {
        padding-left:410px;
        padding-top:20px;
    
    }
    
    
    
    #iconcart {
        width: 15px;
        padding-right: 10px;
        position: static;
    }
    
    #price {
        font-family: "Fraunces";
        font-size: 30pt;
        font-weight: 800;
        color: hsl(157, 35%, 38%, 1);;
    }
    #price-slash {
        font-family: "Montserrat";
        font-size: 14px;
        padding-top: 28px;
        padding-bottom: 20px;
        padding-left: 20px;
        text-decoration: line-through;
        color: hsl(212, 21%, 14%);
        
    }
    
    .prices {
        display: flex
    
    }
    
    #title {
        font-family: "Montserrat";
        font-size: 14px;
        letter-spacing: 0.5rem ;
        color: hsl(212, 21%, 14%);
    }
    #main-copy {
        font-family: "Fraunces";
        font-size: 30pt;
        font-weight: 700;
        line-height: 2.5rem;
        color: hsl(212, 21%, 14%);
        
    }
    
    #copy {
        font-family: "Montserrat";
        font-size: 14px;
        line-height: 1.5rem;;
        color: hsl(210, 21%, 14%);
    }
    


@media all and (min-width: 700px) {
    #main-image {
        border-radius: 10px 0px 0px 10px;
        float: left; 
        display:flex; 
        }

   #mobile-main-image {
            border-radius: 10px 0px 0px 10px;
            display:none; }   
           
            #cart-button
            {
                
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 900;
                margin-left: 45px;
                width: 35%;
                padding:  18px;
                background-color: hsl(157, 35%, 38%, 1);
                color: white;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                text-align: center;
                
            }
            #cart-button:hover
            {
                background-color: hsl(156, 42%, 18%, 1);
                
            }
     

}

@media all and (max-width: 700px) {
    #main-image {
        border-radius: 10px 0px 0px 10px;
        float: left; 
        display:none; 
        }

   #mobile-main-image {
            border-radius: 10px 10px 0px 0px;
            width: 400px;
            display:flex; 
            padding-bottom: 10px;
        } 
            
 .product-page {
                background-color: hsl(30, 38%, 92%);
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 900px;
                justify-content: center;
                        
                    }

     .card {
                background-color: hsl(0, 0%, 100%);
                   width: 400px;
                    border-radius: 10px;
     }

                    .content {
                        padding-left:40px;
                        padding-top:0px;
                    
                    } 
                    
    #cart-button
    {
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 900;
        margin-left: 45px;
        width: 80%;
        padding:  18px;
        margin-bottom: 40px;
        background-color: hsl(156, 42%, 18%, 1);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
    
    }

                        
                      
}





    .mobile-product-page {
        background-color: hsl(30, 38%, 92%);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 900px;
        justify-content: center;
        
      }
    
      .mobile-card {
        background-color: hsl(0, 0%, 100%);
        width: 400px;
        border-radius: 10px;
    }
    
    .mobile-content {
        padding-left:40px;
        padding-top:0px;
    
    }
    
    #mobile-cart-button
    {
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 900;
        margin-left: 45px;
        width: 80%;
        padding:  18px;
        margin-bottom: 40px;
        background-color: hsl(156, 42%, 18%, 1);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
    
    }

    


